In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [11]:
from sklearn.model_selection import train_test_split

data_train, data_dev = train_test_split(data, test_size=0.3)

In [5]:
data_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,5960.000000,5963.000000,5964.000000,5933.000000,5955.000000,5952.000000
mean,28.803020,233.276539,436.809021,172.756278,324.720067,310.998320
std,14.454288,676.316401,1524.511157,537.882941,1174.921282,1145.328914
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,52.000000,62.000000,28.000000,61.000000,53.000000
max,79.000000,9920.000000,29813.000000,10705.000000,22408.000000,24133.000000

In [7]:
data_train.shape

(6085, 14)

In [8]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6085 entries, 7442 to 3868
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   6085 non-null   object
 1   HomePlanet    5947 non-null   object
 2   CryoSleep     5930 non-null   object
 3   Cabin         5946 non-null   object
 4   Destination   5966 non-null   object
 5   Age           5960 non-null   float64
 6   VIP           5937 non-null   object
 7   RoomService   5963 non-null   float64
 8   FoodCourt     5964 non-null   float64
 9   ShoppingMall  5933 non-null   float64
 10  Spa           5955 non-null   float64
 11  VRDeck        5952 non-null   float64
 12  Name          5947 non-null   object
 13  Transported   6085 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 671.5+ KB

In [15]:
x = data_train['PassengerId'].str.split('_',expand=True)[0].astype(int).unique()
y = data_dev['PassengerId'].str.split('_',expand=True)[0].astype(int).unique()
z = data_test['PassengerId'].str.split('_',expand=True)[0].astype(int).unique()

In [13]:
len(x)

4654

In [14]:
len(y)

2269

In [22]:
len(np.intersect1d(x, y))

706

In [ ]:
def extra